.car-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 60%;
  justify-items: center;
  align-items: center;
  color: white;
  position: relative;
  bottom: -8rem;

  .car-statistics {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;

    h3 {
      font-size: 2.8rem;
      letter-spacing: 0.4rem;
    }

    .seconds,
    .miles {
      font-size: 1.3rem;
      letter-spacing: 0rem;
    }

    h6 {
      font-size: 1rem;
    }
  }
}

.order-button button {
  color: white;
  padding: 0.4rem;
  background: none;
  border: 1px solid white;
  transition: all 0.2s ease;

  &:hover {
    cursor: pointer;
    background: whitesmoke;
    color: #333;
    transform: scale(0.94);
  }
}

@media (max-width: 500px) {
  .car-info {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
